{{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
{{ pageAddAsset('stylesheet', zasset('@ZikulaLanguagesModule:css/style.css')) }}
<script>
(function($) {
	$(function(){
            Zikula.Languages.Manager.init({{ manager|json_encode|raw }});
	});
})(jQuery);
</script>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12">  
            {{ dump() }}
            <div id="languages_manager" class="well well-lg clearfix"> 
                <h2><i class="fa fa-wrench"></i> {{ __('Multilingual settings') }}</h2>
                {{ showflashes() }}       
                {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'ZikulaLanguagesModule:Form:radio.html.twig'] %}
                {{ form_start(form) }}

                <div class="col-xs-12 col-md-3">
                    {{ form_widget(form.mlsettings_multilingual,
				{'label_attr': {'class': 'btn btn-primary radio-inline' }}) }}
                </div>

                <div class="col-xs-12 col-md-9">
                    {% if manager.core.multiLingualCapable %}
                        <div class="alert alert-success text-left">
                            <p><strong>{{ __('Zikula Multilingual Capabilities are turned ON') }}</strong></p>
                            <p class=""><strong>{{ __('Please reload routes multilingual settings and clear cache every time you place new translations or delete them') }}</strong></p>
                        </div>
                    {% else %}
                        <div class="alert alert-danger text-left">
                            <p><strong>{{ __('Zikula Multilingual Capabilities are turned OFF') }}</strong></p>
                            <p class=""> {{ __('Please copy core translations for languages you want from https://github.com/zikula-communities to app/Resources/locale') }}</p>
                            <p class=""> {{ __('Please turn on Multilingual Capabilities in administration General settings - Localisation settings') }}</p>
                            <p class=""><strong>{{ __('Please reload routes multilingual settings and clear cache every time you place new translations or delete them') }}</strong></p>
                        </div>
                    {% endif %}		   	
                </div>


                <h2><i class="fa fa-flag"></i> {{ __('Languages manager') }}</h2>	               
                <div class="col-md-3">
                    <!-- Nav tabs -->
                    <ul class="list-group">
                        <li role="presentation" class="list-group-item list-group-item-info">
                            <h3 class="panel-title"> {{ __('Detected languages') }}</h3>
                        </li>					  
                        {% for language_key, language_data in manager.installed %} 
                            <li role="presentation" class="list-group-item clearfix {% if language_key == manager.core.langSystemDefault %} active {% endif %}">
                                <a class="col-md-6" href="#language_{{ language_key }}" aria-controls="home_{{ language_key }}" role="pill" data-toggle="tab">{{ language_data.name}}</a>

                                {% if language_key == manager.core.langSystemDefault %}
                                    <a class="col-md-1 pull-right" ><i class="fa fa-check"> </i><a/>
                                    {% endif %}

                                    {% if language_key != 'en' %}
                                        <a class="remove_language col-md-1 pull-right" data-languagecode="{{ language_key }}" ><i class="fa fa-trash"> </i><a/>
                                        {% endif %}


                                        </li>
                                    {% endfor %}
                                    <li role="presentation" class="list-group-item">
                                        <a class="add_language btn btn-info btn-sm" href="{#{ path('zikulabreakitmodule_translations_index', {_locale:language_installed}) }#}">{{ __('Add new language') }}</a>
                                    </li>
                                    </ul>	

                                    <ul class="list-group">                 
                                        <li role="presentation" class="list-group-item list-group-item-info">
                                            <h3 class="panel-title"> {{ __('Route translation settings') }}</h3>
                                        </li>


                                    </ul>                	  

                                    <div class="col-md-12">{{ form_widget(form.save,
					{'attr': {'class': 'btn btn-info pull-right'}}) }}
                                    </div>  	  

                                    </div>
                                    <div class="col-md-9">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            {% for language_key, language_data in manager.installed %} 
                                                <div role="tabpanel" class="tab-pane {% if language_key == manager.core.langSystemDefault %} active{% endif %}" id="language_{{ language_key}}">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <h2>{{ language_data.name }} - <small>{% if language_key == manager.core.langSystemDefault %}<i class="fa fa-check"> </i> {{ __('Default language') }} {% else %} {{ __('Set to default') }}  {% endif %}</small></h2>
                                                            <div class="col-md-12">
                                                                
                                                            </div>
                                                            <div class="col-md-6">
                                                            {{ include('ZikulaLanguagesModule:Admin:languagedetails.html.twig') }}    
                                                            <a class="edit_language btn btn-warning btn-sm" data-languagecode="{{ language_key }}" href="#">{{ __('Edit language settings') }}</a>
                                                            </div>
                                                            <div class="col-md-6">			    			    
                                                            {{ include('ZikulaLanguagesModule:Admin:translations.html.twig') }}
                                                            </div>																			
                                                        </div>
                                                    </div>				    
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>                                                                    
                                    {{ form_end(form) }}   
                                    </div>	   
                                    </div>			


                                    </div>
                                    </div>
                                    {# jquery autoincluded see \JCSSUtil::prepareJavascripts #}
                                    {{ pageAddAsset('javascript', zasset('@ZikulaLanguagesModule:js/Zikula.Languages.Manager.js')) }} 
                                    {{ include('ZikulaLanguagesModule:Admin:modal.html.twig') }}
                                    {{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}